/*======================*\
	# STYLE CSS
\*======================*/
/* For Chrome, Safari, Edge, and Opera */
 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
 	-webkit-appearance: none;
 	margin: 0;
 }

/*======================*\
	# CUSTOM PROPERTY
\*======================*/
:root{

	/*======================*\
	# COLORS
	\*======================*/
	--dark-jungle-green: hsl(188, 63%, 7%);
	--prussian-blue: hsl(200, 69%, 14%);
	--raisin-black-1: hsl(227, 29%, 13%);
	--raisin-black-2: hsl(229, 17%, 19%);
	--yellow-green: hsl(89, 72%, 85%);
	--orange-soda: hsl(9,100%, 62%);
	--cultured-1: hsl(0, 0%, 93%);
	--cultured-2:hsl(192, 24%, 96%);
	--misty-rose: hsl(210, 100%, 97%);
	--alice-blue: hsl(8, 100%, 97%);
	--seashell: hsl(8,100%, 97%);
	--cadet: hsl(0, 0%, 100%);
	--white: hsl(0,0%, 100%);
	--black:hsl(0,0%,0%);
	--opal: hsl(180, 20%, 62%);

	/*======================*\
	# AMARESA COLOR SCHEME SHESH
	\*======================*/
	--head-foot-bg-amaresa: rgba(255, 255, 255, 0.66);
	--header-bg-amaresa-shadow:0 4px 30px rgba(0, 0, 0, 0.1);
	--footer-bg-amaresa-shadow:0 -4px 30px rgba(0, 0, 0, 0.1);
	--amaresa-box-shadow: 2px 2px 2px black;
	--amaresa-bg:#f0f0f0;	

	--body-color: #E4E9F7;
	--sidebar-color: #FFF;
	--sidebar-text-color: #707070;
	--sidebar-toggle-color: #DDD;

	/*======================*\
	# TYPOGRAPHY
	\*======================*/
	--ff-numito-sans:"Nunito Sans", sans-serif;
	--ff-poppins:"Poppins", sans-serif;

	--fs-1: 1.875rem;
	--fs-2: 1.5rem;
	--fs-3: 1.375rem;
	--fs-4: 1.125rem;
	--fs-5: 0.875rem;
	--fs-6: 0.813rem;
	--fs-7: 0.75rem;

	--fw-500: 500;
	--fw-600: 600;
	--fw-700: 700;
	/*======================*\
	# TRANSTION
	\*======================*/
	--transition:0.25s ease;
	/*======================*\
	# SPACING
	\*======================*/		
	--section-spacing: 100px;
	/*======================*\
	# SHADOW
	\*======================*/

	--shadow-1: 0 5px 20px hsla(219, 56%, 21%, 0.1);
	--shadow-1: 0 16px 32px hsla(188, 63%, 63%, 0.1);

}

/*======================*\
	# RESET
\*======================*/

*,
*::before, 
*::after{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
li{list-style: none;}
a{text-decoration: none;}

a,
img,
span,
button,
i{display: block;}
img{
	object-fit: cover;
}
button{
	border:none;
	outline: none;
	background: none;
	font: inherit;
	text-align: left;
	cursor: pointer;
}
address{font-style: normal;}
i{pointer-events: none;}

html{
	font-family: var(--ff-numito-sans); 
	scroll-behavior: smooth;
}
body{
	background: var(--body-color);
	overflow-x: hidden;
}
::-webkit-scrollbar{
	width: 10px;
	height: 8px;

}
::-webkit-scrollbar-track{background: var(--white);}
::-webkit-scrollbar-thumb{
	background: hsl(200, 50%, 20%);
	border-left: 2px solid var(--white);
}
/*======================*\
	# REUSED SYLE
\*======================*/
.container{padding-inline:15px; }
button, a {transition: var(--transition);}

.h1,
.h2,
.h3{
	color: var(--dark-jungle-green);
	font-family: var(--ff-poppins);
	line-height: 1.3;
}
.h1{
	font-size: var(--fs-1);
	line-height: 1;
}
.h2{font-size: var(--fs-2);}
.h3{
	font-size: var(--fs-4);
	font-weight: var(--font-weight, 700);
}
.h3 > a{color: inherit;}

.btn{
	position: relative;
	background: var(--prussian-blue);
	color: var(--white);
	font-family: var(--ff-poppins);
	font-size: var(--fs-5);
	text-transform: var(--text-transform, capitalize);
	border: 1px solid var(--prussian-blue);
	padding:10px 20px;
	z-index: 1;
}
.btn:is(:hover,:focus){
	background: var(--black);
	color: var(--dark-jungle-green);
	border-color: var(--black);
}
.btn::before{
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: var(--white);
	transition: var(--transition);
	z-index: -1;
}
.btn:is(:hover,:focus)::before{width:100%;}
.w-100{ width: 100%; height: 100%; object-fit: cover;}

.section-subtitle{
	color: var(--orange-soda);
	font-size: var(--fs-5);
	font-weight: var(--fw-600);
	padding:5px 20px;
	background: hsla(9, 100%, 62%, 0.1);
	width: max-content;
	border-radius: 50px;
	margin-inline: auto;
	margin-bottom: 15px;
}

.section-title{
	text-align: var(--text-align, center);
	margin-bottom: var(--margin-bottom, 50px);
}

.card-badge {
	background: var(--black);
	color: var(--white);
	font-size: var(--fs-7);
	text-transform: uppercase;
	position: absolute;
	top: 15px;
	right: 15px;
	padding: 4px 10px;
}

.card-badge.green { background: var(--yellow-green); }

.card-badge.orange { background: var(--orange-soda); }
/*======================*\
#	Section: SIDEBAR
\*======================*/
.sidebar{
	position: fixed;
	top: 0;
	left: 0;
	box-shadow: 2px 2px 15px var(--orange-soda);
	border-bottom-right-radius: 30px;
	width: 250px;
	height: 100vh;
	background: var(--sidebar-color);
	transition: .5s ease;
	z-index: 100;
}
.sidebar.close{
	width: 70px;
	box-shadow: 0 5px 20px black;
}
.sidebar.close .text,
.sidebar.close img
{
	opacity: 0;
}
.sidebar.close .toggle{
	transform: translate(-50%,-40%);
	background: var(--prussian-blue);
}
.sidebar.close .nav-link:is(:hover,:focus) .text{
	opacity: 1;
	font-size: var(--fs-3);
	position: absolute;
	padding: 1rem;
	left: 5rem;
	color: var(--prussian-blue);
	width: fit-content;
	background: rgba(255, 255, 255, 0.14);
	border-radius: 16px;
	box-shadow: 5px 5px 5px black;
	backdrop-filter: blur(2.9px);
	-webkit-backdrop-filter: blur(2.9px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}
.sidebar figure{
	border-bottom: 3px solid black;
	position: relative;
}
.sidebar img{
	width: 100%;
	margin-block: 1rem;
}
.sidebar header{
	position: relative;
}
.sidebar header .toggle{
	position: absolute;
	top: 30%;
	right:-20%;
	cursor: pointer;
	padding: 1rem;
	background: var(--orange-soda);
	color: var(--white);
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: rotate(180deg) translate(40%);	
}
.sidebar header .toggle:hover{
	background: var(--orange-soda);

}
.sidebar .dashboard-title{
	text-align: center;
	font-size: var(--fs-1);
	padding: 1rem;

	font-weight: var(--fw-700);
}
.sidebar .nav-link a{
	height: 50px;
	margin-top: 10px;
	display: flex;
	justify-content: left;
	align-items: center;
	color: black;
	transition:var(--transition);

}
.sidebar .nav-link i{
	margin-inline: 1rem;
	font-size: var(--fs-2);
}
.sidebar .nav-link .active{
	color: white;
	background: var(--orange-soda);
	border-top-right-radius: 20px;
}
.sidebar li a:hover{
	background: var(--orange-soda);
	color: white;
	border-top-right-radius: 20px;
}
/*======================*\
# Section: Main Content
\*======================*/
.main{
	position: relative;
	height: 100vh;
	left: 250px;
	width: calc(100% - 250px);
	transition: .5s ease;
}

.main .text { 
	font-size: 30px;
	font-weight: 500px;
	color: black;
	padding: 8px 40px;
}

.sidebar.close ~ .main{
	left: 70px;
	width: calc(100% - 70px);
}
/*==================================================*\
				ACCOUNT PHP : START
\*==================================================*/
/*======================*\
	# PROFILE
\*======================*/
.profile{
	background: var(--sidebar-color);
	padding: 50px 100px;	
}
.profile-wrapper{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
}
.admin-display-status{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
.admin-display-status figure {
	width: 100px;
	padding: 5px;
	background: #057aff;

	border-radius: 100%;
}
.admin-display-status figure img{
	width: 100%;
	border-radius: 100%;
	object-fit: cover;
}

.admin-view-profile button{
	padding: 1rem;
}
/*======================*\
# ACTIVITY
\*======================*/
.activity{  
	margin-block: var(--section-spacing);
	background: var(--sidebar-color);
	padding-block: var(--section-spacing);
}
.activity .activity-title{
	text-align: center;
	margin-block: 0 5rem;
	font-size: var(--fs-1);
}
.activity .activity-card-title{
	margin-block: .5rem;
}
.activity-wrapper{
	display: flex;
	align-items: center;
	justify-content: space-evenly;

}
.activity-items{
	width: 15%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.activity figure img{
	margin: auto;
	box-shadow: 3px 3px 10px black;
	margin-block: 1rem;
	width: 100%;
	height: 250px;
	border-radius: 100%;
	background: var(--body-color);
}
.total-display{
	font-weight: var(--fw-600);
	padding: 1rem;
	font-size: var(--fs-3);
}
.activity-subtitle{
	text-align: center;
}

/*======================*\
	# TESTIMONIAL
\*======================*/
.Testimonial{
	background: var(--white);
	padding: 1rem;
	box-shadow: 0 5px 5px black;
	border-radius: 10px;
}
.Testimonial .Testimonial-title{
	text-align: center;
	font-size: var(--fs-1);
	font-weight: var(--fw-700);
}
.Testimonial-Container{
	padding: 5rem;
	position: relative;
	display: block;
	cursor: pointer;
	width: 100%;	

}
.Testimonial-swiper{
	padding: 1rem;
	width: 100%;
	overflow-x: hidden;
	margin-inline: auto;
	height: 100%;
}

.Testimonial-wrapper{
	width: 100%;
	height: 100%;
	margin-inline: auto;
}
.Testimonial-card{
	width: 350px; 
	height: 100%;
	text-align: center;
}
.design-btn{
	font-size: var(--fs-2);
}


/*======================*\
	# RIGHT MAIN CONTAINER
\*======================*/
.Right-main-container{
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.ActiveLog-table-container{
	max-height: 38vh;
	overflow-x: hidden;
	position: relative;
}
.Testimonials-table-container{
	max-height: 55vh;
		overflow-x: hidden;
	position: relative;
}
/*==================================================*\
				ACCOUNT PHP : ENDS
\*==================================================*/
/*======================*\
	# TABLE STYLE
\*======================*/
.Table-section{
	max-height: 99vh;
	overflow-x: hidden;
	position: relative;
}
.table{
	background: var(--sidebar-color);
	border-collapse: collapse;
	width: 100%;
	border-bottom-right-radius:15px;	
	border-bottom-left-radius:15px;	

	th{
		font-size: var(--fs-5);
		position: sticky;
		top: 5px;
		color: whitesmoke;
		background: var(--prussian-blue);
		backdrop-filter: blur(10.4px);
		-webkit-backdrop-filter: blur(10.4px);

	}
	td,th{
		text-align: center;
		padding: 1rem;
	}
	td{
		transition: .1s ease;
		font-size: var(--fs-5);
	}
	.note{
		width: 10rem;
		overflow-x: hidden;
		text-align: justify;
	}
}
.td-message{
	max-width: 20vh;
}
.td-action{
	position: relative;
	transition: .3s ease;
	display: flex;
	align-items: center;
	gap: 1rem;
	justify-content: space-evenly;
}
.td-action span{
	width: fit-content;
	padding: 4px;
	position: absolute;
	top: 0;
	left: 0;
	font-size: var(--fs-4);
	opacity: 0;
}
.td-action a{
	font-size: var(--fs-2);
	padding: 10px;
	background: var(--white);
	box-shadow: var(--amaresa-box-shadow);
	border-radius: 26px;
	color: black;

}
.td-action a:is(:hover,:focus) {
	color: var(--orange-soda); 
	transform: scale(1.1);

}
tr:hover td{
	background: var(--prussian-blue);
	color: white;
	cursor: pointer;
}
/*======================*\
# HEADER DASHBOARD
\*======================*/
.header{
	position: relative;
	z-index: 2;
	background: var(--head-foot-bg-amaresa);
	box-shadow:var(--header-bg-amaresa-shadow);	
	padding-block: 1rem;
}
.header .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.Personal-Details{
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: .4rem;
}
.Personal-Admin-Container{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	font-size: 2rem;
}
.Personal-Title{
	color: var(--orange-soda);
	font-size: 2rem;
}
.Personal-tag{
	width: 150px;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	background: var(--prussian-blue);
	color: white;
	border:1px solid black;
}
.callouts{
	background: hsla(7, 78%, 53%, 0.05);
	color: var(--dark-jungle-green);
	font-size: var(--fs-4);
	font-weight: var(--fw-500);
	line-height: 1.8;
	padding: 10px;
	border-left: 4px solid var(--orange-soda);	
}
.Logout a{
	display: flex;
	align-items: center;
	justify-content: center;
	gap:10px;
	padding: 1rem;
	color: white;
	font-size: var(--fs-4);
}
/*======================*\
# RECENT ACTIVITY
\*======================*/
.Main-Container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap:1rem;
	margin:2rem;
	margin-block:1rem;

	>*{
		width: 50%;
	}
}
.Left-main-container{
	display: flex;
	gap: 1rem;
	flex-direction: column;
}
.recent-activity-container {
	width: 100%;

 	background: var(--white);
 	box-shadow: 0 5px 5px black;
 	padding: 2rem;
 	border-radius: 1rem;
}

.header-title {
	font-size: var(--fs-2);
	margin-bottom: 1rem;
}

.item-wrapper{ 
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap:1rem;
}

.item-wrapper .items {
	width: 25% ;
	box-shadow: 0 5px 2px black;
	padding: 1rem;
}
.item-wrapper .items h3{
	font-size: var(--fs-4);
}
.item-wrapper .items span{
	font-size: var(--fs-1);
}
/*======================*\
# DIV: Testimonial Table
\*======================*/
.Testimonial-container{

}

/*======================*\
	# FLOAT DIAGRAM
\*======================*/
.float-diagram {
	position: absolute;
	right: 10px;
	bottom: 10px;
	background: var(--prussian-blue);
	font-size: 1rem;
	border-radius: 10px ;
	color: white;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
.float-diagram button{
	color: white;
	display: flex;
	gap: 5px;
	justify-content: center;
}
.virtual{
	flex-direction: column;

	span{
		color: white;
	}
}
.float-diagram > .form-items input{
	padding: 0.8rem;
	border-radius: 10px;
	outline: none;
	border:none;
}
.float-diagram button:is(:hover,:focus){color: var(--orange-soda); transform: scale(1.1);}
/*======================*\
	# DIAGRAM
\*======================*/
.dialog{
	display: none;
	opacity: 0;
	translate: 0 25vh;
	transition-property: overlay display opacity;
	transition-duration: .5s;
	transition-behavior:allow-discrete;
	width: 40%;
	margin: auto;
	border-radius: 16px;
	max-height: 95vh;
	/* From https://css.glass */
	background: rgba(0, 0, 0, 0.47);

	border:none;
	backdrop-filter: blur(9.8px);
	-webkit-backdrop-filter: blur(9.8px);
}
.dialog[open]{
	display: block;
	translate: 0 0;
	opacity: 1;

	@starting-style{
		opacity: 0;
		translate:-25vh  0 ;
	}

}
.form{
	position: relative;
	display: flex;
	width: 90%;
	margin:auto;
	padding: 1rem;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.form input{
	border:none;
	outline: none;
	color: white;
	border-bottom: 1px solid white;
	width: 100%;
	background: transparent;
	text-align: center;
	padding: .5rem;
	margin-block: 1rem;
}
.form button[type="submit"]{
	background: var(--orange-soda);
	color: whitesmoke;
	width: 100%;
	text-align: center;
	display: block;
	padding: .5rem;
	border:none;
	border-radius: 10px;
	cursor: pointer;
	transition: .4s;
}
.form button[type="submit"]:is(:hover,:focus){--orange-soda:hsl(7, 72%, 46%);}
.form input::placeholder{
	color: var(--seashell);
	font-size: var(--fs-7);
}
.lowerbuttons{
	color: white;
	text-align: center;
	border-bottom: 1px solid whitesmoke;
	margin-inline: auto;
	margin-block: 1rem;

}
.form-items{
	display: flex;
	gap: 1rem;
	width: 100%;
	align-items: center;
	justify-content: center;
	
}
.closebtn{
	font-size: var(--fs-7);
	z-index: 1;
	cursor: pointer;
	position: absolute;
	float: right;
	color: whitesmoke;
	padding: 5px;
	top: 1rem;
	right: 1rem;
	display: block;
}
/*======================*\
	# CSS FOR FILE UPLOADER
\*======================*/
.custom-file-upload {
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	border-radius: 5px;
	text-align: center;
}
.images-container{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
.images{
	padding: 1rem;
}
.show-text{
	color: white;
	min-width: 5rem;
	overflow-x: hidden;
	text-wrap: nowrap;
}
.form-items input[type="file"]{
	display: none;
}

/*======================*\
	# CSS FOR FILE UPLOADER
\*======================*/
.textarea-container {
	width: 100%;
	max-width: 100%;
	padding: 20px;
	border-radius: 10px;

}

.textarea-container label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}

textarea {
	width: 100%;
	color: ;
	outline: none;
	max-height:40vh;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
	font-size: 16px;
	box-sizing: border-box;
	outline: none;
	transition: border-color 0.3s ease;
	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.67);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(9.2px);
	-webkit-backdrop-filter: blur(9.2px);   
}	
textarea::placeholder{
	color: white;
}
textarea:focus {
	border-color: #007bff;
}
.inquiry-buttons{
	width: 100%;
	margin-block: 1rem;
	gap:1rem;
	align-items: center;
	display: flex;
	justify-content: space-between;
}
.inquiry-buttons button{
	width: 50%;
	border-radius: 10px;
	padding: 12px;
	background: var(--orange-soda);
	display: block;
	cursor: pointer;
	color: white;
	text-align: center;
	font-size: var(--fs-5);
}

/*======================*\
# ZOOMIN: GCASH
\*======================*/
.Image-Container{
/*	display: none;*/
	border:2px solid red;
	width: 550px;
	position: absolute;
	height: 550px;

	img{
		width: 100%;
		height: 100%;
	}
}
/*======================*\
# STAR RATING CSS
\*======================*/

.star-rating {
  display: flex;
  flex-direction: row-reverse; /* Display stars from right to left */
  justify-content: center;
  font-size: 2em;
  gap: 10px;
  padding:0 .6rem;

  width: fit-content;
  border-radius: 16px;
  margin-inline: auto;
}
.star-rating input {
  display: none; /* Hide the radio buttons */
}

.star-rating label {
  color: lightgray;
  cursor: pointer;
  transition: .4s ease;
}

/* Change color of stars on hover or selection */
.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input:checked ~ label {
  color: gold; /* Highlight color */
  filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.5));
  transform: scale(1.1);
}

/*======================*\
# TOOLTIP FOR TITLE
\*======================*/
.custom-tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.custom-tooltip:hover::after {
    content: attr(data-title);
    position: absolute;
    left: 50%;	
    color: black;
    font-size: 12px;
    padding: 5px;
    background: white;
    box-shadow: 3px 3px 3px black;
    border-radius: 5px;
    bottom: 100%;
    white-space: nowrap;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.custom-tooltip:hover::after {
    opacity: 1;
}
